/**
* Backbone.js/RequireJS Template
*
* @info		Basline styling
* @version	0.2.1
* @author	Jasal Vadgama - http://blacklabelcreative.com/
**/

/**
* Imports
**/
/** SASS **/
@import 'src/sass/partials/_variables.scss';
/** RESET **/
@import 'src/sass/reset.scss';

/**
* General
**/
body {
	color: #121212;
	font: 14px/1.2em Helvetica, Arial, sans-serif;
}
section {
	margin-bottom: $margin-bottom * 2;
}
h1 {
	margin-bottom: $margin-bottom;
	font-size: 26px;
	line-height: 1.2em;
}
h2 {
	margin-bottom: $margin-bottom / 2;
	font-size: 20px;
	line-height: 1.2em;
}
h3 {
	margin-bottom: $margin-bottom / 2;
}
p,
ul {
	margin-bottom: $margin-bottom;
}
li {
	margin: 0 0 5px 40px;
}

/**
* Containers
**/
#pageWrapper {
	margin: $margin-bottom auto 0;
	width: 960px;
}
#app {
	padding: 20px;
	background: #dfdfdf;
	border: 1px dashed #333;
}

/** SMALL SCREEN **/
@media screen and (min-width: 479px) {
	@import 'src/sass/style_small.scss';
}
/** MEDIUM SCREEN **/
@media screen and (min-width: 767px) {
	@import 'src/sass/style_medium.scss';
}
/** LARGE SCREEN **/
@media screen and (min-width: 959px) {
	@import 'src/sass/style_large.scss';
}