extends layout

block content
    #pageWrapper
        header#header
            h1 There was a server error!

        #mainContent
            p #{error.status} - #{error.message}

        footer#footer