extends layout

block content
    #pageWrapper
        header#header
            h1 Backbone.js/RequireJS Template

        section
            ul
                li Some test data should populate below. There is no external source of data, an item is inserted into a collection within the View.initialize(). This was added to make sure all the model/collection/view and templating is working.
                li Everything has a generic name to keep it as flexible as possible.

        section#app
            p Loading...
