doctype html
<!--[if li IE 8]><html lang="en-gb" class="no-js lt-ie10 lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en-gb" class="no-js lt-ie10 lt-ie9"><![endif]-->
<!--[if IE 9]><html lang="en-gb" class="no-js lt-ie10"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en-gb" class="no-js"><!--<![endif]-->

include partials/layout/document_head.html

body
    block content

    include partials/layout/document_script.html

</html>
